@font-face {
    font-family: 'MasonChronicles';
    src: url('../fonts/MasonChronicles.woff2') format('woff2'),
        url('../fonts/MasonChronicles.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #141218;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: top right 20%;
}

.container {
    width: 95%;
    max-width: 1140px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    margin-bottom: 90px;
}

.menuList {
    margin-right: auto;
    margin-left: 67px;
}

.menuLink {
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 24px;
}

.socialLink {
    margin-left: 20px;
    text-decoration: none;
}

.genre {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 16px;
    display: block;
}

.rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.ratingNumber {
    font-size: 12px;
    line-height: 14px;
    margin-left: 9px;
}

.mainTitle {
    font-family: 'Mason Chronicles', serif;
    font-weight: 500;
    font-size: 76px;
    line-height: 89px;
    margin-bottom: 10px;
}

.mainDescription {
    max-width: 458px;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 40px;
}

.mainContent {
    display: flex;
    align-items: center;
    margin-bottom: 85px;
}

.button:active {
    color: #FFFFFF;
}

.button {
    background: #9D2929;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
    padding: 22px 72px;
    display: inline-block;
    text-decoration: none;
}

.play {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #9D2929;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    position: relative;
    margin: auto;
}

.imgPlay {
    position: relative;
    transform: translateX(5px);
}

.play:before {
    content: '';
    width: 132px;
    height: 132px;
    background: #9D2929;
    opacity: 0.5;
    position: absolute;
    border-radius: 50%;
    left: -16px;
    top: -16px;
    animation: pulse 1s ease-in-out 0.5s infinite;
}

.series {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    position: relative;
    max-width: 420px;
}

.card {
    width: 164px;
    height: 113px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 13px;
    margin-right: 30px;
}

.cardSubtitle {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 2px;
}

.cardTitle {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.series1 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/card-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.series2 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/card2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.arrow {
    position: absolute;
    top: 50%;
    right: -35px;
    width: 32px;
    height: 23px;
    border: none;
    background-image: url(../img/arrow.svg);
    background-color: transparent;
}

.swiper-container {
    max-width: 420px;
    margin-left: 0;
}

.footer {
    background-color: #141218;
    padding: 20px 0;
    margin-top: auto;
}

.footerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerLink {
    text-decoration: none;
    color: #3A383D;
    margin-left: 25px;
}

.copyright {
    color: #3A383D;
}

.menubutton {
    display: none;
}

@media (max-width: 760px) {
    .play {
        display: none;
    }

    .footerContent {
        flex-direction: column;
        align-items: flex-start;
    }

    .copyright {
        display: block;
        margin-bottom: 8px;
    }

    .footerLink :first-child {
        margin-left: 0px;
    }
}

@media (max-width: 549px) {
    .menubutton {
        display: block;
        position: absolute;
        right: 35px;
        top: 40px;
        width: 30px;
        height: 2px;
        background-color: #FFFFFF;
        border: none;
        cursor: pointer;
    }

    .menubutton:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 2px;
        background-color: #FFF;
        margin-top: -7px;
        transition: transform 0.2s;
    }

    .menubutton:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 2px;
        background-color: #FFF;
        margin-top: 7px;
        transition: transform 0.2s;
    }

    .menubuttonActive {
        height: 0;
    }

    .menubuttonActive:before {
        transform: rotate(45deg);
        margin-top: 0;
    }


    .menubuttonActive:after {
        transform: rotate(-45deg);
        margin-top: 0;
    }


    .header {
        flex-direction: column;
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #9D2929;
        width: 250px;
        padding-bottom: 40px;
    }

    .headerActive {
        display: flex;
    }

    .logo {
        margin-bottom: 25px;
    }

    .menuList {
        margin: auto;
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menuLink {
        margin-right: 0;
        margin-bottom: 17px;
    }

    .socialList {
        order: 1;
        margin-bottom: 22px;
    }

    .socialLink:first-child {
        margin-left: 0;

    }

    .swiper-container {
        width: 80%;
    }

    .mainContent {
        margin-top: 196px;
    }

    .mainTitle {
        font-size: 56px;
        display: flex;
    }

    .mainDescription {
        display: flex;
    }

    .series {
        width: 80%;
    }
}